
.row,.section{
	background-color: #DED0C0;
	padding: 25%;
	justify-content: center;
	color: #97826B;
	font-weight: lighter;
}

.section{
	padding: 10%;
	text-align: center;
}

.content{
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	
}

.images{
	background-color: #C7C19D;
}

.table{
	padding-top: 10%;
}

.subheader{
	padding-bottom: 5%;
}

#header{
	font-weight: lighter;
}


img{
	margin-bottom: 3%;
	margin-left: 3%;
	padding-right: 100px;
	border-style: solid;
	height: 500x;
}

body{
	background-color: #DED0C0;
	font-family: Avenir Next, Helvetica, Roboto, Arial, sans-serif;
	color: #BFA281;
	/*D19857;
	/*FCF4F0;*/
}

th {
	padding: 20%;
}

td{
	text-indent: 15%;
	text-align: left;
	padding: 30px;
}

table{
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	color: #849D8A;

}



